# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
/led_twinkle/led_twinkle.sim/*
/ip_fifo/ip_fifo.sim/*
/axis_mt19937/axis_mt19937.sim/*
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/5.7010_Program_Demo
/project_fifo/project_fifo.sim